<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cwv" translate="label" sortOrder="100">
            <label>Core Web Vitals</label>
        </tab>
        <section id="cwv" translate="label" type="text" sortOrder="920" showInDefault="1" showInWebsite="1" >
            <label>HTML Modifier</label>
            <tab>cwv</tab>
            <resource>Magento_Config::advanced</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                        canRestore="1">
                    <label>Enable Modify HTML</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable HTML modify</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                        canRestore="1">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Log Performance</comment>
                </field>
            </group>
            <group id="html" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                <label>HTML Processing Settings</label>
                <field id="enable_minify" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Minify HTML</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="lazy_loading_iframe" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Lazy loading Iframe</label>
                    <source_model>Hidro\CoreWebVitals\Model\Model\Config\Source\LazyLoadModel</source_model>
                </field>
                <field id="lazy_loading_image" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Lazy loading Image</label>
                    <source_model>Hidro\CoreWebVitals\Model\Model\Config\Source\LazyLoadModel</source_model>
                </field>
<!--                <field id="preload_main_image" translate="label comment" type="select" sortOrder="30" showInDefault="1"-->
<!--                       showInWebsite="1" canRestore="1">-->
<!--                    <label>Preload Main Product Image</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
            </group>
            <group id="js" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                <label>JavaScript Settings</label>
                <field id="enable_rocket_loader" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Enable Rocket Loader</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Exclude: data-cfasync="false".</comment>
                </field>
                <field id="move_to_footer" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Move To Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="minify_inline" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Minify Inline</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="owl_loaded" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Owl Carousel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Active first item of the Owl Carousel.</comment>
                </field>
                <field id="recaptcha" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Defer Google Recaptcha</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defer init google recaptcha by IntersectionElement. Requires MSP_ReCaptcha</comment>
                </field>
                <field id="js_server_push" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>HTTP/2 Server Push JS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Server Push JS. Varnish cache doesn't support this feature</comment>
                </field>
                <field id="server_push_files" translate="label" type="textarea" sortOrder="51" showInDefault="1"
                       showInWebsite="1"  canRestore="1">
                    <label>List of files</label>
                    <comment><![CDATA[
                        Add those files to HTTPS/2 push (comma separated):
                        requirejs/require.js,
                        js/file-2.js
                    ]]></comment>
                    <depends>
                        <field id="js_server_push">1</field>
                    </depends>
                </field>
            </group>
            <group id="css" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1">
                <label>CSS Settings</label>
                <field id="enable_critical" translate="label comment" type="select" sortOrder="0" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Critical css</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Load critical CSS Inline.</comment>
                </field>
                <field id="minify_inline" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Minify Inline</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Minify Inline CSS.</comment>
                </field>
                <field id="defer_mode" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1"  canRestore="1">
                    <label>Enable Defer CSS</label>
                    <source_model>Hidro\CoreWebVitals\Model\Model\Config\Source\DeferCSSMode</source_model>
                    <comment>rel="preload" (default browser) will be removed by mod_pagespeed</comment>
                </field>
                <field id="defer_files" translate="label" type="textarea" sortOrder="21" showInDefault="1"
                       showInWebsite="1"  canRestore="1">
                    <label>Defer those files by onload</label>
                    <comment><![CDATA[
                        Defer non-critical CSS (CSS only):
                        css/styles-l.css
                    ]]></comment>
                    <depends>
                        <field id="defer_mode" separator=",">1,2</field>
                    </depends>
                </field>
                <field id="move_to_footer" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Move To Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Move to footer and merge moved files.</comment>
                </field>
                <field id="move_footer_files" translate="label" type="textarea" sortOrder="41" showInDefault="1"
                       showInWebsite="1"  canRestore="1">
                    <label>List of files</label>
                    <comment><![CDATA[
                        Move those files to footer (comma separated):
                        css/styles-custom.css,
                        mage/gallery/gallery.css,
                        mage/calendar.css,
                        FishPig_WordPress::css/wordpress.css
                    ]]></comment>
                    <depends>
                        <field id="move_to_footer">1</field>
                    </depends>
                </field>
                <field id="css_server_push" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>HTTP/2 Server Push CSS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Server Push CSS. Varnish cache doesn't support this feature</comment>
                </field>
                <field id="server_push_files" translate="label" type="textarea" sortOrder="51" showInDefault="1"
                       showInWebsite="1"  canRestore="1">
                    <label>List of files</label>
                    <comment><![CDATA[
                        Add those files to HTTPS/2 push (comma separated):
                        css/styles-l.css,
                        css/styles-m.css
                    ]]></comment>
                    <depends>
                        <field id="css_server_push">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <!--<section id="dev" translate="label" type="text" sortOrder="920" showInDefault="1" showInWebsite="1">
            <label>Rewrite Developer's options</label>
            <tab>cwv</tab>
            <resource>Magento_Config::advanced</resource>
        </section>-->
    </system>
</config>
